/* styles.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.message {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f7f7f7;
}

.heart {
    font-size: 36px;
    color: #ff69b4;
}
